    body {background-image:"https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSMgcy_OA7lH5QLAyo9zmIDX14YdxvWucyHdLp2Kobb-__WriV74Q";
   font-family:"Comic Sans MS";
  }
    h1 {color:orange;}
    ul {color:blue;}
 
